<div class="container">

    <h1>Listas de Compra</h1>
    <br>

    <div class="new-list">
        <form class="custom-form" method="post" [formGroup]="crearListaForm" (ngSubmit)="onSubmit()">
        
        <div class="col">
            <div class="row">
    
              <input
              type="text"
              formControlName="nombre"
              name="nombre"
              placeholder="Nombre"
              required="required"
              class="form-control"
              />
              <div *ngIf="crearListaForm.controls['nombre'].invalid && (crearListaForm.controls['nombre'].dirty || 
              crearListaForm.controls['nombre'].touched)"
              class="div-error row">
        
                <small class="text-danger" *ngIf="crearListaForm.controls['nombre'].errors?.['required']">
                  Por favor Ingrese el nombre de la lista
                </small>
                
                </div>
    
            </div>
           
        <div class="row">
            <input
            type="date"
            formControlName="fecha"
            name="fecha"
            required="required"
            format="yyyy-MM-ddThh:mm:ss"
            class="form-control"
            />
            <div *ngIf="crearListaForm.controls['fecha'].invalid && (crearListaForm.controls['fecha'].dirty || 
            crearListaForm.controls['fecha'].touched)"
            class="div-error row">
    
              <small class="text-danger" *ngIf="crearListaForm.controls['fecha'].errors?.['required']">
                Por favor Ingrese la fecha de la lista
              </small>
            </div>
        </div>
          
          
              
              
          <button type="submit" class="btn btn-outline-light" [disabled]="crearListaForm.invalid">Crear lista</button>
                
        </div>
        </form>
    </div>
        <hr>
        <div *ngIf="userService.isLoggedIn()" class="table-container">
            <mat-card>
                <div class="table-filter">
        
        
                      
                </div>
        
                <mat-card-content>
        
                    <table class="mat-elevation-z0" mat-table [dataSource]="dataSource">
                        
                        <ng-container matColumnDef="Nombre Lista">
                            <th mat-header-cell class="th-first" *matHeaderCellDef>NOMBRE LISTA</th>
                            <td 
                            mat-cell *matCellDef="let element" class="td-centered">{{element.nombre}}</td>
                        </ng-container>
                        <ng-container matColumnDef="Fecha">
                            <th mat-header-cell *matHeaderCellDef >FECHA</th>
                            <td 
                            mat-cell *matCellDef="let element" class="td-centered">{{element.fecha| date: 'dd-MM-yyyy'}}</td>
                        </ng-container>
                        
                        <ng-container matColumnDef="Opciones">
                            <th mat-header-cell class="th-last" *matHeaderCellDef>OPCIONES</th>
                            <td mat-cell *matCellDef="let element"
                            class="td-centered">
                            <a href="javascript:void(0);" (click)="detalle(element)" > <img class="img-usr" src="./assets/img/zoom_logo.png"><img src="" alt=""></a>
                            </td >
                        </ng-container>
                        <tr class="table-header" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            
                        <tr  mat-row *matRowDef="let row; columns:displayedColumns"></tr>
                    
                    </table>
                    <div *ngIf="isLoading" 
                    style="display: flex; justify-content: center; align-items: center; background: white;">
                    <mat-progress-spinner 
                        color="primary" 
                        mode="indeterminate">
                    </mat-progress-spinner>
        </div>
                </mat-card-content>
                <br>
                <mat-card-footer>
                    
                    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>
        
                </mat-card-footer>
            </mat-card>
        </div>
</div>
